/out/
/rootfs/
*.cpio.gz
*.img
slinux.iso
slinux.img
patches/openrdate-musl/bsd/*.h.orig
userland/mandoc/config.h
userland/mandoc/config.log
userland/mandoc/configure.local
userland/mandoc/Makefile.local
userland/mandoc/libmandoc.a
userland/mandoc/mandoc
userland/mandoc/man
userland/mandoc/demandoc
userland/mandoc/soelim
userland/mandoc/*.old
userland/wget/config.h
userland/wget/config.log
userland/wget/config.status
userland/wget/Makefile
userland/wget/*/Makefile
userland/wget/po/POTFILES
userland/wget/po/*.gmo
userland/wget/po/stamp-po
userland/wget/.deps/
userland/wget/*/.deps/
userland/wget/doc/wget.pod
userland/wget/doc/sample_wgetrc
userland/wget/src/*.o
userland/wget/src/config.h
userland/wget/src/stamp-h1
userland/wget/src/version.c
userland/wget/src/wget
userland/wget/lib
userland/wget/gnulib_po/Makefile.in
userland/wget/gnulib_po/POTFILES
userland/wget/po/Makefile.in
