[submodule "userland/libressl"]
	path = userland/libressl
	url = https://github.com/libressl-portable/portable
[submodule "userland/libressl-openbsd"]
	path = userland/libressl-openbsd
	url = https://github.com/libressl-portable/openbsd
